$corFundo:#310346;
$corQuadro:#000000ea;
$corConfirmacion:#008000;
$corNaoConfirmacion:#ff0000;
$corPrimary:#000;
$corSecondary:#fff;
$corButton:#5e0686;
$corPaneil:rgba(235, 147, 227, 0.295);
$backgroundLocal: linear-gradient(180deg, #8c36a8 40%,rgba(31,3,70,1) 86%, #1d0824 99%, #21042e 100%);
$backgroundHero: linear-gradient(180deg, #310346 30%, #1f0346 45%, #8c36a8 99%, #8c36a8 99%, #853b88 100%);
$backgroundLocalPurple:linear-gradient(180deg, #1b0525 30%, #3e1a70 45%, #6a317e 99%, #8c36a8 99%, #6d2c83 40%);
$backgroundLocalfinal:linear-gradient(180deg, #672d7a 40%,rgba(31,3,70,1) 86%, #130816 99%, #15071b 100%);